In [12]:
A = [1,2,3,4,5,6,[10,20,30],{'apple':12,'peech':13}]

In [16]:
A[7]['peech']

13

In [18]:
# number is imutable

In [20]:
#Har wo number dictionary ki key ban sakti hy

In [22]:
# packing 
box = ('watch','waallet','cards')

In [24]:
box

('watch', 'waallet', 'cards')

In [26]:
type(box)

tuple

In [30]:
# unpaking
a,b,c = box

In [32]:
a

'watch'

In [34]:
b

'waallet'

In [36]:
c

'cards'

# Loops
    - What is a loop?
    - For in
    - it always require a sequence to itterata over
    - While

# For in Loop :

In [43]:
# Task : To Print Yor Name 10 times:
print('Asad')
print('Asad')
print('Asad')
print('Asad')
print('Asad')
print('Asad')
print('Asad')
print('Asad')
print('Asad')
print('Asad')

Asad
Asad
Asad
Asad
Asad
Asad
Asad
Asad
Asad
Asad

In [59]:
#using of For In :
# no of lines becomes less in loop but enhanes complexity  
# a : here the range all number come and store in a

In [61]:
for a in range(10):
    print(a,'My Name is Asad')

0 My Name is Asad
1 My Name is Asad
2 My Name is Asad
3 My Name is Asad
4 My Name is Asad
5 My Name is Asad
6 My Name is Asad
7 My Name is Asad
8 My Name is Asad
9 My Name is Asad

In [65]:
for a in A:
    print(A[0])

1
1
1
1
1
1
1
1

In [27]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']
for stu in students:
    print(f'Hellow : {stu}')

Hellow : Asad
Hellow : zaid
Hellow : khan
Hellow : sami
Hellow : nasir
Hellow : sufiyan
Hellow : saad
Hellow : taha
Hellow : suneel

In [31]:
#iterarte over list using index
for n in range(8):    # n=0 , n=1 , n=2 , n=3 , n=4 ........n=7; n=(0 to 7)
    print(n,students[n])

0 Asad
1 zaid
2 khan
3 sami
4 nasir
5 sufiyan
6 saad
7 taha

In [33]:
for i in range (10):
    print(students[])

Asad
zaid
khan
sami
nasir
sufiyan
saad
taha
suneel

IndexError: list index out of range

In [35]:
for n in range(len(students)):  # it directly gives you the length of the list 
    print(n,students[n])

0 Asad
1 zaid
2 khan
3 sami
4 nasir
5 sufiyan
6 saad
7 taha
8 suneel

In [57]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

In [61]:
for i in students[::-1]: # we use slicing  for reverse  : we dont use reverse() because its not works or gives none type.
    print(i)

suneel
taha
saad
sufiyan
nasir
sami
khan
zaid
Asad

In [65]:
for n,i in enumerate(students):  #enumerate : This function also gives index with list but take tow variables
    print(n,i)

0 Asad
1 zaid
2 khan
3 sami
4 nasir
5 sufiyan
6 saad
7 taha
8 suneel

# continue , break

In [68]:
for s in students:
    print(f'Kal Mrs : {s} ki chuti hy')

Kal Mrs : Asad ki chuti hy
Kal Mrs : zaid ki chuti hy
Kal Mrs : khan ki chuti hy
Kal Mrs : sami ki chuti hy
Kal Mrs : nasir ki chuti hy
Kal Mrs : sufiyan ki chuti hy
Kal Mrs : saad ki chuti hy
Kal Mrs : taha ki chuti hy
Kal Mrs : suneel ki chuti hy

In [70]:
for s in students:
    if len(s)<5:
        print(f'Ap ki chuti hy : {s}')
    else:
        print(f'Ap ko ana hy : {s}')

Ap ki chuti hy : Asad
Ap ki chuti hy : zaid
Ap ki chuti hy : khan
Ap ki chuti hy : sami
Ap ko ana hy : nasir
Ap ko ana hy : sufiyan
Ap ki chuti hy : saad
Ap ki chuti hy : taha
Ap ko ana hy : suneel

In [84]:
for s in students:   #break is used to 
    if s=='taha':
        break
    else:
       print(s)

Asad
zaid
khan
sami
nasir
sufiyan
saad

In [86]:
menue = []
for fo in range(8):
    food = input('Enter The Dishes You Want : ?')
    menue.append(food)

menue

Enter The Dishes You Want : ? kheer
Enter The Dishes You Want : ? biryani
Enter The Dishes You Want : ? korma
Enter The Dishes You Want : ? coldrinks
Enter The Dishes You Want : ? dumba karahi
Enter The Dishes You Want : ? tikka
Enter The Dishes You Want : ? chatni
Enter The Dishes You Want : ? salaad

['kheer',
 'biryani',
 'korma',
 'coldrinks',
 'dumba karahi',
 'tikka',
 'chatni',
 'salaad']

In [88]:
for a in range(10):
    if a==5:
        continue   # here if a becomes 5 so with the help of continue a 
    else:          #goes to range and get 6 start again the loop till end
        print(a)

0
1
2
3
4
6
7
8
9

In [92]:
menue = []
for fo in range(8):
    food = input('Enter The Dishes You Want : ?')
    if food == 'kheer':
        continue
    else:
        menue.append(food)

menue

Enter The Dishes You Want : ? one
Enter The Dishes You Want : ? two
Enter The Dishes You Want : ? three
Enter The Dishes You Want : ? kheer
Enter The Dishes You Want : ? four
Enter The Dishes You Want : ? five
Enter The Dishes You Want : ? six
Enter The Dishes You Want : ? seven

['one', 'two', 'three', 'four ', 'five', 'six', 'seven']

In [118]:
# use in dictionary
rates = {}
items = ['kheer', 'biryani', 'korma', 'coldrinks', 'dumba karahi', 'tikka', 'chatni', 'salaad']
for i in items :
    price = input(f'{i} Enter The price for 300 peoples. ')
    rates[i] = price

rates

kheer Enter The price for 300 peoples.  10
biryani Enter The price for 300 peoples.  20
korma Enter The price for 300 peoples.  30
coldrinks Enter The price for 300 peoples.  40
dumba karahi Enter The price for 300 peoples.  50
tikka Enter The price for 300 peoples.  50
chatni Enter The price for 300 peoples.  60
salaad Enter The price for 300 peoples.  70

{'kheer': '10',
 'biryani': '20',
 'korma': '30',
 'coldrinks': '40',
 'dumba karahi': '50',
 'tikka': '50',
 'chatni': '60',
 'salaad': '70'}

In [132]:
rates = {}
items = ['kheer', 'biryani', 'korma', 'coldrinks', 'dumba karahi', 'tikka', 'chatni', 'salaad']
for i in items :
    price = input(f'{i} Enter The price for 300 peoples. ')
    
    if  items == 'tikka':
        continue
    else:
        rates[i] = price
rates

kheer Enter The price for 300 peoples.  20
biryani Enter The price for 300 peoples.  30
korma Enter The price for 300 peoples.  40
coldrinks Enter The price for 300 peoples.  50
dumba karahi Enter The price for 300 peoples.  60
tikka Enter The price for 300 peoples.  70
chatni Enter The price for 300 peoples.  50
salaad Enter The price for 300 peoples.  50

{'kheer': '20',
 'biryani': '30',
 'korma': '40',
 'coldrinks': '50',
 'dumba karahi': '60',
 'tikka': '70',
 'chatni': '50',
 'salaad': '50'}

In [130]:
shope = ['charger','handfree','usb','datacable','powerbank','mouse','keybord','mobilecover']
cart = {}
total = 0
for i in shope:
    price = int(input(f'Enter The Price Of {i}'))
    cart[i] = price
    total += price

print(cart)
total

Enter The Price Of charger 10
Enter The Price Of handfree 20
Enter The Price Of usb 40
Enter The Price Of datacable 50
Enter The Price Of powerbank 60
Enter The Price Of mouse 40
Enter The Price Of keybord 04
Enter The Price Of mobilecover 40

{'charger': 10, 'handfree': 20, 'usb': 40, 'datacable': 50, 'powerbank': 60, 'mouse': 40, 'keybord': 4, 'mobilecover': 40}

264