In [2]:
#q1 
for i in 'Asad':
    print(i,'?')

A ?
s ?
a ?
d ?

In [6]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [10]:
for i in range(10,15):
    print(i)

10
11
12
13
14

In [14]:
for i in range(1,11):
    print('Naturals Numbers : ',i)

Naturals Numbers :  1
Naturals Numbers :  2
Naturals Numbers :  3
Naturals Numbers :  4
Naturals Numbers :  5
Naturals Numbers :  6
Naturals Numbers :  7
Naturals Numbers :  8
Naturals Numbers :  9
Naturals Numbers :  10

In [22]:
for i in range(2,22,2):  #The Third 2 Is Used for divide and Checking The Even Numbers
    print(i)

2
4
6
8
10
12
14
16
18
20

In [36]:
for i in range(1,21,2):
    print(i)

1
3
5
7
9
11
13
15
17
19

In [54]:
for i in range(20,0,-2):
    print(i)

20
18
16
14
12
10
8
6
4
2

In [56]:
for i in range(21,1,-2):
    print(i)

21
19
17
15
13
11
9
7
5
3

In [80]:
num = int(input('Enter The Number : '))
for i in range(1,11):
    print(f'{num} * {i} = {num*i}')

Enter The Number :  10

10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

In [88]:
num = int(input('Enter The Number : '))
f = 1
for i in range(1,num+1):
    f = f*i    print(f)

Enter The Number :  5

1
2
6
24
120

In [94]:
for i in range (5,7):
    print(i)

5
6

In [107]:
a = 'asad khan'
for i in a:
    print(i)

a
s
a
d

k
h
a
n

In [ ]:
for i in range(10):
    s=0
    num = int(input('Enter Numnbers : '))
    s = s+num
    print(f'The Avg is : {s/10}')

In [1]:
x = ['ab', 'cd']
for i in x:
    i.upper()  # its not case the original value
print(x)

['ab', 'cd']

In [9]:
i = 1
while True:
    if i%4 == 0:
        break
    print(i)
 
    i += 1

1
2
3

In [23]:
i = 1
while True:
    if i%0o7 == 0:  # here it read the 0o but 
        break
    print(i)
    i += 1

1
2
3
4
5
6