In [2]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

In [4]:
for stu in students:
    print(stu)

Asad
zaid
khan
sami
nasir
sufiyan
saad
taha
suneel

In [6]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

In [8]:
for i in range(10):
    print(students[i])

Asad
zaid
khan
sami
nasir
sufiyan
saad
taha
suneel

IndexError: list index out of range

In [10]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

In [12]:
for i in range(len(students)):
    print(students[i])

Asad
zaid
khan
sami
nasir
sufiyan
saad
taha
suneel

In [14]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

In [20]:
for s,i in  enumerate((students)):
    print(s,i)

0 Asad
1 zaid
2 khan
3 sami
4 nasir
5 sufiyan
6 saad
7 taha
8 suneel

In [22]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

In [28]:
for n,i in enumerate(range(len(students))):
    print(n,students[::-1][i])

0 suneel
1 taha
2 saad
3 sufiyan
4 nasir
5 sami
6 khan
7 zaid
8 Asad

In [30]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

In [32]:
for i in students:
    if i == 'sami':
        break
    else:
        print(i)

Asad
zaid
khan

In [101]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

for s in students:
    if len(s)<5:
        print(f'chuti : {s}')
    else:
        print(f'Not chuti : {s}')

chuti : Asad
chuti : zaid
chuti : khan
chuti : sami
Not chuti : nasir
Not chuti : sufiyan
chuti : saad
chuti : taha
Not chuti : suneel

In [103]:
students = ['Asad','zaid','khan','sami','nasir','sufiyan','saad','taha','suneel']

for s in students:
    if len(s)<5:
        continue
    else:
        print(f'Not chuti : {s}')

Not chuti : nasir
Not chuti : sufiyan
Not chuti : suneel

In [105]:
lst = []
for n in range(5):
    name = input('Enter Your names : ')
    lst.append(name)

lst

Enter Your names :  Asad
Enter Your names :  saad
Enter Your names :  khan
Enter Your names :  zaid
Enter Your names :  nasir

['Asad', 'saad', 'khan', 'zaid', 'nasir']

In [107]:
lst = []
for n in range(5):
    name = input('Enter Your names : ')
    if len(name) > 5:
        continue
    else:
        lst.append(name)

lst

Enter Your names :  Asad
Enter Your names :  saad
Enter Your names :  nasir
Enter Your names :  sumair
Enter Your names :  suneel

['Asad', 'saad', 'nasir']

In [109]:
lst = []
for n in range(5):
    name = input('Enter Your names : ')
    if len(name) > 5:
        break
    else:
        lst.append(name)

lst

Enter Your names :  saad
Enter Your names :  Asad
Enter Your names :  khanone

['saad', 'Asad']

In [111]:
lst = []
for n in range(5):
    name = input('Enter Your names : ')
    if len(name) > 5:
        lst.append(name)
    else:
        continue

lst

Enter Your names :  saad
Enter Your names :  asad
Enter Your names :  Asadkhan
Enter Your names :  suneel
Enter Your names :  nisaar

['Asadkhan', 'suneel', 'nisaar']

In [129]:
lst = []
dic = {}
total  = 0
for n in range(5):
    name = input('Enter Your names : ')
    lst.append(name)
    dic[n]=name
    

print(lst)
print(dic)

Enter Your names :  asad
Enter Your names :  saad
Enter Your names :  khan
Enter Your names :  azeem
Enter Your names :  anees

['asad', 'saad', 'khan', 'azeem', 'anees']
{0: 'asad', 1: 'saad', 2: 'khan', 3: 'azeem', 4: 'anees'}

In [141]:
lst = []
dic = {}
for i in range(5):
    name = input('enter names :')
    lst.append(name)
    if name == 'khan':
        continue
    else:
        dic[i]=name

print(dic)
print(lst)

enter names : saad
enter names : asad
enter names : zaid
enter names : khan
enter names : nasir

{0: 'saad', 1: 'asad', 2: 'zaid', 4: 'nasir'}
['saad', 'asad', 'zaid', 'khan', 'nasir']

In [143]:
lst = []
dic = {}
for i in range(5):
    name = input('enter names :')
    lst.append(name)
    if name == 'khan':
        break
    else:
        dic[i]=name

print(dic)
print(lst)

enter names : saad
enter names : asad
enter names : zaid
enter names : khan

{0: 'saad', 1: 'asad', 2: 'zaid'}
['saad', 'asad', 'zaid', 'khan']

In [145]:
# Example list
numbers = [10, 20, 30, 40, 50]
total
# Write a for loop to calculate the sum

for i in numbers:
    total+=i

print(total)

150

In [151]:
# Example list
numbers = [1, 4, 5, 8, 9, 12]

# Use a for loop and if condition to print even numbers
for i in numbers:
    if i%2==0:
        print(f'Even Number : {i}')
    else:
        continue

Even Number : 4
Even Number : 8
Even Number : 12

In [161]:
# Example dictionary
student = {"name": "Alice", "age": 20, "grade": "A"}

# Write a for loop to print keys and values
for i,n in student.items():
    print(i,n)

name Alice
age 20
grade A

In [163]:
for i in range(1,11):
    if i%2==0:
        print(f'Even : {i}')
    else:
        print(f'Odd : {i}')

Odd : 1
Even : 2
Odd : 3
Even : 4
Odd : 5
Even : 6
Odd : 7
Even : 8
Odd : 9
Even : 10

In [175]:
#Count how many times the letter 'a' appears in a list of strings.

words = ["apple", "banana", "grape", "avocado"]
total = 0
# Write code to count total occurrences of 'a'
for i in words:
    total+=i.count('a')

total

7

In [187]:
#From a list of numbers, create a new list of only the numbers greater than 50.

numbers = [10, 55, 23, 78, 33, 60]
new = []
# Create a new list with numbers > 50 using a for loop and if condition
for i in numbers:
    if i > 50:
        new.append(i)
    else:
        continue

new

[55, 78, 60]

In [193]:
#From a dictionary of students and their scores, print names of students who scored more than 75.

scores = {"John": 65, "Emma": 82, "Sophia": 90, "Mike": 70}

# Write a for loop with if condition
for n,i in scores.items():
    if i > 75:
        print(f'Their names are : {n,i}')
    else:
        continue

Their names are : ('Emma', 82)
Their names are : ('Sophia', 90)

In [195]:
#Create a dictionary from two lists using a for loop.
result = {}
keys = ["name", "age", "city"]
values = ["Alice", 25, "New York"]

# Use a for loop to create a dictionary
for i in range(len(keys)):
    result[keys[i]]=values[i]

result

{'name': 'Alice', 'age': 25, 'city': 'New York'}

In [203]:
#Loop through a dictionary and create two lists: one for keys and one for values.

data = {"a": 1, "b": 2, "c": 3}
keys = []
values = []
# Create key_list and value_list

for e,k in data.items():
    keys.append(e)
    values.append(k)

print(keys)
print(values)

['a', 'b', 'c']
[1, 2, 3]

In [207]:
#Given a list of dictionaries, print the name of the person with the highest age.

people = [
    {"name": "Alice", "age": 25},
    {"name": "Bob", "age": 30},
    {"name": "Charlie", "age": 28}
]

maxe = people[0]['age']
old =  people[0]['name']

# Use for loop with if condition to find the person with max age
for i in people:
    if i['age']>maxe:
        maxe = i['age']

print(maxe)

30