In [56]:
# What is the output of the following code?
my_list = [1, 2, 3, 4]
print(my_list[2])
print(my_list[0:])
print(my_list[2:4])
print(my_list[-4:4])
my_list

3
[1, 2, 3, 4]
[3, 4]
[1, 2, 3, 4]

[1, 2, 3, 4]

In [60]:
# How do you add an element 10 at the end of a list nums?
my_list.append(10)
my_list

[1, 2, 3, 4, 10]

In [70]:
#Write a Python program to find the length of a list colors = ['red', 'green', 'blue'].
colors = ['red', 'green', 'blue']
len(colors)

3

In [84]:
#How do you remove the first occurrence of the value 5 from the list below?
numbers = [1, 2, 5, 3, 5, 4]
numbers.remove(5)
numbers

[1, 2, 3, 5, 4]

In [98]:
#How do you insert an element 100 at index 2 in the list data = [10, 20, 30, 40]?
data = [10, 20, 30, 40]
print(data.index(30))
data.insert(2,100)
print(data.index(30))
print(data.index(100))
data

2
3
2

[10, 20, 100, 30, 40]

In [104]:
#What will be the output of this code?

fruits = ['apple', 'banana', 'cherry']
print(fruits[-1])
print(fruits[-3:3])

cherry
['apple', 'banana', 'cherry']

In [106]:
#Write a Python function to return the largest number from a list.
numbers = [1, 2, 5, 3, 5, 4]
print(max(numbers))

5

In [110]:
#What is the output of the following code?
a = [1, 2]
b = a
b.append(3)
print(a)

[1, 2, 3]

In [112]:
#How do you concatenate two lists: [1, 2] and [3, 4]

l1 = [1, 2]
l2 = [3, 4]

l1.extend(l2)
l1

[1, 2, 3, 4]

In [118]:
#[[1, 2], [3, 4], [5]] â†’ [1, 2, 3, 4, 5]
l1 = [[1, 2], [3, 4], [5]]
l2 = []
l2.extend(l1)
l2

[[1, 2], [3, 4], [5]]

In [1]:
#Given the list lst = [10, 20, 30, 40, 50], replace the middle element with 99.
lst = [10, 20, 30, 40, 50]
lst[2]=99
lst

[10, 20, 99, 40, 50]

In [7]:
#Combine the lists a = [1, 2, 3] and b = [4, 5] into a single list without using + operator.
a = [1, 2, 3]
b = [4, 5]
a.extend(b) # It Is Used To Combine Two LIst 
a

[1, 2, 3, 4, 5]

In [9]:
#Given lst = [5, 10, 15, 20], extract the last 2 elements.
lst = [5, 10, 15, 20]
lst[2:4]

[15, 20]

In [15]:
#Reverse the list lst = [1, 2, 3, 4, 5] using slicing only.
lst = [1, 2, 3, 4, 5]
lst[-5:5]

[1, 2, 3, 4, 5]

In [23]:
#Replace the first two elements in [0, 1, 2, 3, 4] with [9, 9].
lst = [0, 1, 2, 3, 4] 
lst[0] = 9
lst[1] = 9
lst

[9, 9, 2, 3, 4]

In [65]:
#Remove the second and third elements from the list [10, 20, 30, 40, 50].
lst = [10, 20, 30, 40, 50]
del lst[2]
del lst[2]
print(lst)

[10, 20, 50]

In [75]:
#From lst = [1, 2, 3, 4], create a new list with each element duplicated (e.g., [1, 1, 2, 2, ...]) without loops.
lst = [1, 2, 3, 4]
lst1 = [1, 1, 2, 2]
lst1.extend(lst)
lst1

[1, 1, 2, 2, 1, 2, 3, 4]

In [79]:
#Create a list of 5 zeros using list repetition.
lst = [0]*5
lst

[0, 0, 0, 0, 0]

In [81]:
#Find the length of the list ['a', 'b', 'c', 'd'] using a built-in method.
lst = ['a', 'b', 'c', 'd']
len(lst)

4

In [83]:
#From the list lst = [10, 20, 30, 40, 50], extract a sublist containing every second element.
lst = [10, 20, 30, 40, 50]
lst[::2]

[10, 30, 50]

In [125]:
#Given lst = [1, 2, 3, 4, 5], create a reversed version without using reversed() or loops.
lst = [1, 2, 3, 4, 5]
lst[5::-1]

[5, 4, 3, 2, 1]

In [137]:
#From lst = [1, 2, 3, 4], construct a new list that looks like [1, 4, 2, 3] using slicing and indexing only.
lst = [1, 2, 3, 4]
del lst[3]
lst.insert(1,4)
lst

[1, 4, 2, 3]

In [141]:
#Make a list of length 10 containing alternating 0 and 1 values.
lst = [0,1]*10
lst

[0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1]

In [145]:
#Given lst = [10, 20, 30, 40, 50], move the last element to the first position.
lst = [10, 20, 30, 40, 50]
del lst[4]
lst.insert(0,50)
lst

[50, 10, 20, 30, 40]

In [147]:
#From lst = [1, 2, 3, 4, 5, 6], create [1, 3, 5] using slicing only.
lst = [1, 2, 3, 4, 5, 6]
lst[::2]

[1, 3, 5]

In [151]:
#Given [10, 20, 30, 40, 50], remove the first and last elements using slicing.
lst = [10, 20, 30, 40, 50]
lst[1:4]

[20, 30, 40]

In [155]:
#Construct a list like [0, 1, 2, 3, 4] by combining slices of two predefined lists: [0, 1, 2] and [3, 4, 5].
l1 = [0, 1, 2]
l2 = [3, 4, 5]
l1.extend(l2)
l1

[0, 1, 2, 3, 4, 5]

In [159]:
#Using only indexing and slicing, get the third element from the end in [5, 6, 7, 8, 9].
lst = [5, 6, 7, 8, 9]
lst[-2:4]

[8]

In [ ]:
#From a nested list [[1, 2], [3, 4], [5, 6]], extract the number 4 using indexing only.