In [2]:
num = [1,3,2,4,5,6,87,78,90]
num.reverse()
num

[90, 78, 87, 6, 5, 4, 2, 3, 1]

In [4]:
num.index(90)

0

In [6]:
num.index(1)

8

In [12]:
stu = ['Asad','Khan','Saad','Zaid','Nasir','Sami','Khan']
stu.index('Khan',3)

6

In [14]:
stu.count('Asad')

1

In [16]:
stu.count('Khan')

2

# Dictionary :
- Easy To Read
- {}
- {Key:value}
- Mutable : Change values
- index nahi hota
-

In [19]:
record1 = {'name':'Asad','Age':23,'City':'Karachi','Gender':'Male'} # First Key : Second Value

In [23]:
print(record1)

{'name': 'Asad', 'Age': 23, 'City': 'Karachi', 'Gender': 'Male'}

In [25]:
print(type(record1))

<class 'dict'>

In [27]:
len(record1)

4

In [41]:
#Adding a new Key : Value Pair In Dic
record1['Contact'] = '13132478703'

In [43]:
record1

{'name': 'Asad',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'Contact': '13132478703'}

In [65]:
record1['Abba'] = 'Ayub'  # Add The New Key And Value In Dic
record1

{'name': 'Asad',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'Contact': '03132478703',
 'Abba': 'Ayub'}

In [51]:
record1['Abba'] = 'M Ayub' # Just Uppdate The Previous One

In [53]:
record1

{'name': 'Asad',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'Contact': '13132478703',
 'Abba': 'M Ayub'}

In [57]:
record1['name'] # To REtrive The Value From Dictionary

'Asad'

In [59]:
record1['Contact']

'13132478703'

In [61]:
record1['Contact'] = '03132478703'

In [63]:
record1

{'name': 'Asad',
 'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'Contact': '03132478703',
 'Abba': 'M Ayub'}

In [73]:
del record1['name'] # Delete The Value  from dict

In [75]:
record1

{'Age': 23,
 'City': 'Karachi',
 'Gender': 'Male',
 'Contact': '03132478703',
 'Abba': 'Ayub'}

In [77]:
# Builten Functions

In [79]:
record1.pop('Age')

23

In [81]:
record1.copy()

{'City': 'Karachi', 'Gender': 'Male', 'Contact': '03132478703', 'Abba': 'Ayub'}

In [83]:
record1.popitem() # remove the last Key : value By Default

('Abba', 'Ayub')

In [85]:
record1['Abba'] = 'M Ayub'

In [87]:
record1.keys() # Return All Keys Just

dict_keys(['City', 'Gender', 'Contact', 'Abba'])

In [89]:
record1.items() #Return All Keys And All Values

dict_items([('City', 'Karachi'), ('Gender', 'Male'), ('Contact', '03132478703'), ('Abba', 'M Ayub')])

In [91]:
# ======{} For Knowing The Dic we Use 
# ======[] Data Add And Retrive We Use And For List We Use 
# ======() We Use it For All Functions

In [93]:
record1.get('Abba') , record1['Abba']

('M Ayub', 'M Ayub')

In [97]:
record1['name'] # Give You Key error Because no Key There

KeyError: 'name'

In [101]:
print(record1.get('name'))

None

In [107]:
record1.get('Abba','Not Avalible In The Dic') # If Not Avalible IN The Dic So Return The Msg Or Avalible So return The Value

'M Ayub'

In [109]:
mete_Data = {'Chiledren':12,'Height':6,'Bloood':'O+'}

In [115]:
record1.update(mete_Data) # Use As A Extend To ConCatinate The Two Dictionaries

In [117]:
record1

{'City': 'Karachi',
 'Gender': 'Male',
 'Contact': '03132478703',
 'Abba': 'M Ayub',
 'Chiledren': 12,
 'Height': 6,
 'Bloood': 'O+'}

# List in A Dictionary

In [120]:
Students = {'Rool_no':[1,2,3,4,5,6,7,8,9,10],
            'Name':['Asad','Khan','Saad','Zaid','Nasir','Sami','Khan','Suneel','TAha','Saqib'],
           'Course':['Phython','C','Js','Rubu','Cyber','Html','Css','Data Science','Ai','Java'],
           'Marks':[10,20,30,40,50,60,70,80,90,100]}
Students

{'Rool_no': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
 'Name': ['Asad',
  'Khan',
  'Saad',
  'Zaid',
  'Nasir',
  'Sami',
  'Khan',
  'Suneel',
  'TAha',
  'Saqib'],
 'Course': ['Phython',
  'C',
  'Js',
  'Rubu',
  'Cyber',
  'Html',
  'Css',
  'Data Science',
  'Ai',
  'Java'],
 'Marks': [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]}

In [122]:
Students['Course']

['Phython',
 'C',
 'Js',
 'Rubu',
 'Cyber',
 'Html',
 'Css',
 'Data Science',
 'Ai',
 'Java']

# Tupple 
- ()
- Immutable : Not Changeable

In [125]:
Atupple = (1,2,3,4,5)

In [127]:
type(Atupple)

tuple

In [129]:
len(Atupple)

5

In [139]:
Atupple[2] = 100 # Not ChangeAble

TypeError: 'tuple' object does not support item assignment

In [141]:
b = 'Apple','Mango','Orange' # By Default Its A Tupple

In [144]:
type(b)

tuple

In [152]:
a = (10) # ITs Look Like A Tupple But Its A Integer Because Tupple Be Made From Minimum Two values
type(a)

int

In [154]:
a = (10,) # This Is A Tupple You Can Make It Like Theat
type(a)

tuple

In [ ]:
# Set 
- Collection Of Well Defined And Distinct (Unique) Object Is Call Set.
- {1,2,3,4,5}

In [8]:
Num = {1,2,3,4,5,5,6,7,8,9,10} # remove The Dup Value By Default

In [10]:
len(Num)

10

In [12]:
Num

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [14]:
Num.add(100)

In [16]:
Num

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 100}

In [24]:
Num1 = {1,2,3,4,5,5,6,7,8,9,10}
Num2 = {1,2,3,4,5,5,6,7,8,9,10,11,12,13,14,15}
Num1.difference(Num2) #Give You The Difference Vlue in Num1
Num2.difference(Num1) #Give You The Difference Vlue in Num22

{11, 12, 13, 14, 15}

In [26]:
Num1.difference_update(Num2)

In [28]:
Num1

set()

In [30]:
Num2.difference_update(Num1)

In [32]:
Num2

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [34]:
Num1 = {1,2,3,4,5,5,6,7,8,9,10}
Num2 = {1,2,3,4,5,5,6,7,8,9,10,11,12,13,14,15}
Num1.intersection(Num2)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [38]:
a = {1,2,3,4,5}
b = {6,7,8,9}
a.isdisjoint(b) # Both have Uniqe ValuesSo True Or False

True

In [40]:
Num2 = {1,2,3,4,5,5,6,7,8,9,10,11,12,13,14,15}
Num1 = {1,2,3,4,5,5,6,7,8,9,10}
Num2.union(Num1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15}

In [42]:
Num2 = {1,2,3,4,5,5,6,7,8,9,10,11,12,13,14,15}
Num1 = {1,2,3,4,5,5,6,7,8,9,10}
Num2.pop() # Remove The Value From The first N

1